// Generales
@media only screen and (max-width:399px) {
    .header {
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    display: inline;
                    text-align: center;
                    padding:0.8rem;
                    padding-bottom: 0.4rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .logo {
            img {
                display: none;
            }
            .logoalt {
                display: block;
            }
        }
    }
}
@media only screen and (max-width:433px) and (min-width:400px) {
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding:0.9rem;
                    padding-bottom: 0.2rem;
                    a {
                        font-size: 1rem;
                    }
                }
            }

        }
    }
}
@media only screen and (max-width:475px) and (min-width:434px) {
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding:0.9rem;
                    padding-bottom: 0.2rem;
                    a {
                        font-size: 1.1rem;
                    }
                }
            }

        }
    }
}
@media only screen and (max-width:575px) and (min-width:476px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-right:0.8rem;
                    padding-left: 0.8rem;
                    padding-bottom: 0.1rem;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:640px) and (min-width:576px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-right:1rem;
                    padding-left: 1rem;
                    padding-bottom: 0.1rem;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:676px) and (min-width:641px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:1.5rem;
                    padding-right: 1.5rem;
                    padding-bottom: 0.2rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:767px) and (min-width:677px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:1rem;
                    padding-right: 1rem;
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:813px) and (min-width:768px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:0.8rem;
                    padding-right:0.8rem;
                    a {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:928px) and (min-width:814px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:0.9rem;
                    padding-right:0.9rem;
                    a {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:991px) and (min-width:928px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:0.8rem;
                    padding-right: 0.8rem;
                    a {
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1106px) and (min-width:992px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:1rem;
                    padding-right: 1rem;
                    a {
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1254px) and (min-width:1106px){
    .header {
        .menu {
            justify-content: center;
            ul {
                margin: 0;
                padding: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                li {
                    text-align: center;
                    padding-left:1rem;
                    padding-right: 1rem;
                    a {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:991px) {
    footer {
        .esrb {
            margin-top: 1.2rem;
        }
        .rrss {
            border: 0;
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            img {
                padding: 0.5rem;
            }
        }
        .platforms {
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            }
        }
    }
@media only screen and (max-width:520px) {
    footer {
        .esrb {
            margin-top: 1rem;
        }
        .rrss {
            border: 0;
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            img {
                padding: 0.5rem;
            }
        }
        .platforms {
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .platformLogoContainer {
                .ps4Logo {
                    height: 25px;
                }
                .steamLogo {
                    height: 30px;
                }
                .switchLogo {
                    height:25px
                }
            }
        }
    }
}
@media only screen and (max-width:391px) {
    footer {
        .esrb {
            margin-top: 1rem;
        }
        .rrss {
            display: flex;
            justify-content: center;
            margin-top: 0.1rem;
            margin-bottom: 0.5rem;
            border: 0;
            img {
                padding: 0.2rem;
            }
        }
        .platforms {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            border: 0;
            .platformLogoContainer {
                .ps4Logo {
                    height: 18px;
                }
                .steamLogo {
                    height: 22px;
                }
                .switchLogo {
                    height:21px
                }
            }
        }
    }
}
@media only screen and (max-width:297px) {
    footer {
        .platforms {
            .platformLogoContainer {
                .ps4Logo {
                    height: 15px;
                }
                .steamLogo {
                    height: 18px;
                }
                .switchLogo {
                    height:18px
                }
            }
        }
    }
}

// Index
@media only screen and (max-width:991px) {
    .main {
        h1 {
            text-align: center;
        }
        .desc {
            p {
                margin-top: 1rem;    
            }
            .initial {
                margin-top: 1rem;    
            }
        }
    }
}
@media only screen and (max-width:700px) {
    .main {
        padding-top: 1.1rem;
        h1 {
            text-align: center;
        }
        .desc {
            padding-top: 1.5rem;
            p {
                margin-top: 2rem;    
            }
            .initial {
                margin-top: 2rem;    
            }
        }
    }
}
@media only screen and (max-width:390px) {
    .main {
        h1 {
            font-size: 4.5rem;
        } 
    }
}
@media only screen and (max-width:370px) {
    .main {
        .desc {
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
        h1 {
            font-size: 3.5rem;
        } 
    }
}

// Personajes

@media only screen and (min-width:1200px) {
    .charaContainer {
        .synopsis {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}
@media only screen and (max-width:1199px) {
    .charaContainer1 {
        .charaPortrait {
            padding-top: 1rem;
        }
    }
}
@media only screen and (min-width:901px) {
    .charaContainer1 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
            img {
                height: auto;
            }
        }
    }
    .charaContainer2 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
            img {
                height: auto;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:900px) {
    .charaContainer1 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
            img {
                height: auto;
            }
        }
        .charaDesc {
            text-align: center;
        }
    }
    .charaContainer2 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
            img {
                height: auto;
            }
        }
        .charaDesc {
            text-align: center;
        }
    }
}
@media only screen and (max-width:767px) {
    .charaContainer1 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
        }
        .charaDesc {
            text-align: center;
        }
    }
    .charaContainer2 {
        padding-bottom: 2rem;
        .charaPortrait {
            justify-content: center;
            padding-top: 1rem;
        }
        .charaDesc {
            text-align: center;
        }
    }
}

// Galería

@media only screen and (max-width:520px) {
    .galeria  {
        img {
            width: 90%;
            height: 80%;
            margin: 0 auto;
        }
    }      
}

// Comprar
@media only screen and (max-width:1315px) {
    .product1 {
        .pDesc {
            padding-bottom: 2rem;
        }
    }
}
@media only screen and (max-width:767px) {
    .product2 {
        background-image: url(../images/bg2.jpg);
        .pImg {
            img {
                background-color: rgba(228, 224, 224, 0.226) ;
            }
        }
    }
}
@media only screen and (max-width:357px) {
    .product1 {
        ul {
            li {
                font-size: 0.8rem;
            }
        }
    }
    .product2 {
        ul {
            li {
                font-size: 0.8rem;
            }
        }
    }
}
@media only screen and (max-width:293px) {
    .product1 {
        ul {
            li {
                font-size: 0.6rem;
            }
        }
    }
    .product2 {
        ul {
            li {
                font-size: 0.6rem;
            }
        }
    }
}

// Formulario
@media only screen and (max-width:328px) {
    .row {
        --bs-gutter-x: 0;
    }
    .mona {
        .chara {
            @include centerflex();
            img {
                width: 70%;
            }
        }
    }
}
@media only screen and (max-width:999px) {
    .atlus  {
        img {
            display: none;
        }
    }
}     